<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <!--端口-->
      <add key="port" value="7001"/>
      <!--nginx服务器ip-->
      <add key="nginx_ip" value="127.0.0.1"/>
      <!--nginx服务器端口-->
      <add key="nginx_port" value="7000"/>
    </appSettings>
</configuration>