<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="servers" type="YX.ServerSection,Nginx"/>
    <section name="ipmap" type="YX.IPMapSection,Nginx"/>
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <!--日志(0不开启,非0开启)-->
    <add key="enable_log" value="0"/>
    <!--调试信息(0不开启,非0开启)-->
    <add key="enable_debug" value="1"/>
    <!--本机内网ip，如果所有服务器部署在同一台物理机，可以设置为127.0.0.1-->
    <add key="ip_for_server" value="192.168.103.246"/>
    <add key="port_for_server" value="7000"/>
    <!--选择服务器算法(round_robin轮询)(ip_hash根据客户端 IP 地址分配)(least_conn分配最少连接)(weight按权重概率分配)-->
    <add key="select_rule" value="ip_hash"/>
  </appSettings>
  <servers>
    <add type="0" name="测试1服" ip="192.168.103.246" port="7001" weight="10"></add>
  </servers>
  <ipmap>
    <add address="guangdong" ip="192.168.103.246" port="7001"></add>
  </ipmap>
</configuration>
